<!DOCTYPE html>
<html lang="en">
<head>
<title>rateGenius Portal</title>
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<link rel="shortcut icon" href="./img/rg-favicon.ico" type="image/x-icon"/>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300italic,400,300,500,600,700|Material+Icons" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
</head>
<body>
<div id="app">
  <v-app id="inspire"> 
    <!--Left Nav-->
    <v-navigation-drawer app clipped v-model="drawer" fixed>
      <v-list dense>
        <template>
          <v-list-tile href="index.html">
            <v-list-tile-content>
              <v-list-tile-title class="rg-gray--text"> Home </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile href="buttons.html">
            <v-list-tile-content>
              <v-list-tile-title class="rg-gray--text"> Buttons </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
<v-list-tile href="colors.html">
            <v-list-tile-content>
              <v-list-tile-title class="rg-gray--text"> Colors</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile href="icons.html">
            <v-list-tile-content>
              <v-list-tile-title class="rg-gray--text"> Icons </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile href="badges.html">
            <v-list-tile-content>
              <v-list-tile-title class="rg-gray--text"> Badges </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile href="lists.html">
            <v-list-tile-content>
              <v-list-tile-title class="rg-gray--text"> Lists </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile href="tabs.html">
            <v-list-tile-content>
              <v-list-tile-title class="rg-gray--text"> Tabs </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile href="tables.html">
            <v-list-tile-content>
              <v-list-tile-title class="rg-gray--text"> Tables </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile href="dialogs.html">
            <v-list-tile-content>
              <v-list-tile-title class="rg-gray--text"> Dialogs </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile href="notifications.html">
            <v-list-tile-content>
              <v-list-tile-title class="rg-gray--text"> Notifications </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile href="tooltips.html">
            <v-list-tile-content>
              <v-list-tile-title class="rg-gray--text"> Tooltips </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile href="formatting.html">
            <v-list-tile-content>
              <v-list-tile-title class="rg-gray--text"> Data Formatting </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <!--End Left Nav--> 
    
    <!--Top Toolbar Nav--> <v-toolbar app clipped-right clipped-left class="nav-bg rg-gray--text elevation-1" light fixed>
      <v-toolbar-side-icon  color="rg-gray--text" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>#6000147 Elizabeth Williamson </v-toolbar-title>
      <v-spacer></v-spacer>
      <div v-if="$vuetify.breakpoint.mdAndUp">
        <v-tooltip bottom>
          <v-btn icon slot="activator">
            <v-icon color="rg-gray">call</v-icon>
          </v-btn>
          <span>Call Customer</span> </v-tooltip>
        <v-tooltip bottom>
          <v-btn icon slot="activator">
            <v-icon color="rg-gray">email</v-icon>
          </v-btn>
          <span>Email Customer</span> </v-tooltip>
        <v-tooltip bottom>
          <v-btn icon slot="activator">
            <v-icon color="rg-gray">textsms</v-icon>
          </v-btn>
          <span>Text Customer</span> </v-tooltip>
        <v-tooltip bottom>
          <v-btn icon slot="activator">
            <v-icon color="rg-gray">library_add</v-icon>
          </v-btn>
          <span>Add Note</span> </v-tooltip>
        <v-tooltip bottom>
          <v-btn icon slot="activator">
            <v-icon color="rg-gray">library_books</v-icon>
          </v-btn>
          <span>Notes</span> </v-tooltip>
        <v-menu offset-y>
          <v-btn icon slot="activator">
            <v-icon color="rg-gray">more_vert</v-icon>
          </v-btn>
          <v-list class="rg-light-gray" light>
            <v-list-tile @click="">
              <v-list-tile-title class="rg-gray--text">
                <v-icon left color="rg-gray">swap_calls</v-icon>
                Reassign </v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="">
              <v-list-tile-title class="rg-gray--text">
                <v-icon  left color="rg-gray">do_not_disturb_alt</v-icon>
                Cancel </v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="">
              <v-list-tile-title class="rg-gray--text">
                <v-icon  left color="rg-gray">swap_horiz</v-icon>
                Transfer </v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="">
              <v-list-tile-title class="rg-gray--text">
                <v-icon left color="rg-gray">warning</v-icon>
                Exception </v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="">
              <v-list-tile-title class="rg-gray--text">
                <v-icon  left color="rg-gray">check</v-icon>
                Complete </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </div>
    </v-toolbar>
    <!--End Top Toolbar Nav-->
    
    <v-content class="mb-4">
      <div class="header-bg"> 
        <!--Top Status Bar-->
        
        <v-layout class="pa-2 status">
          <v-flex xs12> <span class="pr-2">
            <label>State:</label>
            <span class="caption">TX</span></span> | <span class="pr-2 pl-2">
            <label>Source:</label>
            <span class="caption">RGD</span></span> | <span class="pr-2 pl-2">
            <label>Lender:</label>
            <span class="caption"> Andrews FCU </span></span> | <span class="pr-2 pl-2">
            <label>Status:</label>
            <span class="caption"> Ready to Print </span></span> | <span class="pr-2 pl-2">
            <label>Task:</label>
            <span class="caption"> Ship Package </span></span></v-flex>
        </v-layout>
        <v-divider></v-divider>
        <!--End Top Status Bar-->
        
        <v-layout row wrap class="pa-3">
          <v-flex xs12>
            <div class="display-1 white--text mb-3">Dialogs</div>
          </v-flex>
        </v-layout>
      </div>
      <v-container fluid>
        <v-layout row wrap>
          <v-flex xs12 sm8> The v-dialog component inform users about a specific task and may contain critical information, require decisions, or involve multiple tasks. Use dialogs sparingly because they are interruptive. </v-flex>
        </v-layout>
        <div class="headline rg-blue--text mb-3 mt-3">Full Screen</div>
        <v-layout row wrap>
          <v-flex xs12 sm8>
            <div> <a href="https://vuetifyjs.com/en/components/dialogs#example-fullscreen" target="_blank">Vuetify Full Screen</a><br />
              Use this when the user needs to perform a task or read more information but does not want to be taken to another page.</div>
            <div><em>Examples: Viewing more detailed information or completing a form that opens from a dataTable</em></div>
          </v-flex>
        </v-layout>
        <div>
          <v-tooltip bottom>
            <v-btn flat icon slot="activator" @click.stop="notes = true">
              <v-badge color="rg-warning" overlap small>
                <v-icon color="rg-gray">comment</v-icon>
                <span slot="badge" class="caption rg-gray--text">1</span></v-badge>
            </v-btn>
            <span>1 Sticky Note</span></v-tooltip>
        </div>
        <v-dialog v-model="notes" fullscreen transition="dialog-bottom-transition" :overlay="false">
          <v-card class="grey lighten-5">
            <v-toolbar dark color="rg-blue">
              <v-toolbar-title>#6000001 Jim Andrewsonville (AL)</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn flat @click.native="notes = false" dark> Close </v-btn>
            </v-toolbar>
            <div class="pa-4">
              <v-layout row wrap>
                <v-flex md10>
                  <div class="display-1 rg-blue--text">Notes & Communication</div>
                </v-flex>
              </v-layout>
              <v-divider class="mb-3 mt-3"></v-divider>
              <v-layout row wrap>
                <v-flex md10>
                  <v-card class="rg-box-outer notes-border mb-3">
                    <v-card-text>
                      <div class="headline rg-blue--text">Bookouts</div>
                      <div>Not giving correct values - verified with legacy</div>
                      <div class="text-sm-right caption mt-3">04/01/2017 04:00 PM | <strong>Jane Fulfullment</strong></div>
                    </v-card-text>
                  </v-card>
                  <v-card class="rg-box-outer notes-border mb-3">
                    <v-card-text>
                      <div class="headline rg-blue--text">Counter Approval</div>
                      <div>Decision: COUNTEROFFER Is Selected Decision: true Last Updated: 2018-03-09 | 08:35 am Loan Amount: $11305 Rate: 2.99% Term: 60 Stipulations: CUDL Application #: 47083490 Decision #: 92093900 Decision Status: COUNTEROFFER Loan Officer: Helen Benthin 301-702-5572 Tier: A+ RateGenius Comment Lien Holder: CAPITAL ONE AUTO FINANCE \n Trim Level: Sedan 4D GLS I4 Main Credit Score: 780 Manual Decision: Counter USED AUTO REFI WITH CAP ONE. MAX LTV 120%. COUNTER OFFER FOR MAX TERM 60 MONTHS BASED ON FINANCE AMOUNT. APPROVED FOR $11305.00. OK TO WAIVE POI- A+ TIER/ GOOD CREDIT HISTORY.</div>
                      <div class="text-sm-right caption mt-3">04/01/2017 04:00 PM | <strong>Jane Fulfullment</strong></div>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </div>
          </v-card>
        </v-dialog>
        <div class="headline rg-blue--text mb-3">Warnings & Errors</div>
        <v-layout row wrap>
          <v-flex xs12 sm8>
            <div> <a href="https://vuetifyjs.com/components/dialogs" target="_blank">Vuetify Dialog Boxes</a><br />
              Use these when the user needs to make a decision or confirm a request. Confirmation isn’t necessary when the consequences of an action are reversible or negligible. For example, if a check mark shows an image has been selected, further confirmation is unnecessary.</div>
            <div><em>Example: Deleting a document. "Are you Sure? Your change will be permanent."  Yes Delete/Cancel</em></div>
          </v-flex>
        </v-layout>
        <div class="my-4">Below you'll find the styling for Alerts (v-dialogs). Use sparingly.
          <v-list class="transparent">
            <v-list-tile>
              <v-icon color="rg-success">check</v-icon>
              <v-list-tile-title>Use <strong>WARNING</strong> only when the user must confirm an action. </v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-icon color="rg-success">check</v-icon>
              <v-list-tile-title>Use <strong>ERROR</strong> only if there is an error. </v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-icon color="rg-success">check</v-icon>
              <v-list-tile-title>Be CONCISE and CLEAR with the message.</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </div>
        <v-btn color="rg-warning" class="rg-dark-gray--text" @click.native.stop="warningAlert = true">Warning</v-btn>
        <span class="caption">Persistent (stays until closed)</span>
        <v-dialog v-model="warningAlert" scrollable max-width="290" persistent>
          <v-card class="rg-warning black--text">
            <v-card-text class="text-xs-center">
              <v-icon class="xl-large-icon" dark>warning</v-icon>
              <div class="title mb-2 mt-2">What action did the user click to confirm?</div>
              <div>You will not be able to undo this action.</div>
            </v-card-text>
            <div class="white text-xs-center pa-2">
              <v-btn flat class="rg-light-gray" @click.native="warningAlert = false">Cancel</v-btn>
              <v-btn color="rg-primary" depressed dark @click.native="warningAlert = false">Transfer</v-btn>
            </div>
          </v-card>
        </v-dialog>
        <v-btn color="rg-danger" class="white--text" @click.native.stop="errorAlert = true">Error</v-btn>
        <span class="caption">Not Persistent (closes on click off or close button)</span>
        <v-dialog v-model="errorAlert" scrollable max-width="290">
          <v-card class="rg-danger">
            <v-card-text class="text-xs-center">
              <v-icon class="xl-large-icon" dark>error</v-icon>
              <div class="subheading mb-2 mt-2 white--text">Title record not found.</div>
            </v-card-text>
            <div class="white text-xs-center pa-2">
              <v-btn flat class="rg-light-gray" @click.native="errorAlert = false">Close</v-btn>
            </div>
          </v-card>
        </v-dialog>
        <v-btn icon color="red--text" lazy @click.native.stop="deleteAlert = true">
          <v-icon>delete_forever</v-icon>
        </v-btn>
        <span class="caption">Icon button example</span>
        <v-dialog v-model="deleteAlert" scrollable max-width="290" persistent>
          <v-card class="rg-warning black--text">
            <v-card-text class="text-xs-center">
              <v-icon class="xl-large-icon" dark>warning</v-icon>
              <div class="title mb-2 mt-2">Delete Record?</div>
              <div>You will not be able to undo this action.</div>
            </v-card-text>
            <div class="white text-xs-center pa-2">
              <v-btn flat class="rg-light-gray" @click.native="deleteAlert = false">Cancel</v-btn>
              <v-btn color="rg-primary" depressed dark @click.native="deleteAlert = false">Delete</v-btn>
            </div>
          </v-card>
        </v-dialog>
      </v-container>
    </v-content>
  </v-app>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script> 
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script> 
<script>
	
new Vue({
  el: '#app',
   data () {
	  return {
		  /*Drawers*/
        drawer: null,
		  /*General Dialogs*/
		warningAlert: false,
		errorAlert: false,
		deleteAlert: false,
		  
		  notes: false,
		}
    },
		
    watch: {
       /*Button Spinners*/
     loader () {
        const l = this.loader
        this[l] = !this[l]
        setTimeout(() => (this[l] = false), 3000)
        this.loader = null
      }
		}
});

  </script>
</body>
</html>
